.container {
    width: 1024px;
    height: 768px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #A7A7A7; /*안보여서 해당 색상으로 지정 추후 변경 필요*/
    position: relative;
}

