.logo{
    margin-bottom: 20px;
    border-radius: 20px;
    display: grid;
}

.join{
    color: white;
    box-shadow: 0 3px rgba(45, 45, 45, 0.16), 0 3px 6px rgba(45, 45, 45, 0.23);
    background-color: #2D2D2D;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    padding: 10px 150px;
    cursor: pointer;
    margin-top: 15px;
    text-decoration: none;
}

.underbar_text{
    color: #333333;
    font-size: 15px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}