.react-calendar {
  width: 550px;
  height: 385px;
  max-width: 100%;
  background: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  margin-top: 50px;
  margin-left: 100px;
}

.react-calendar--doubleView {
  width: 700px;
}

.react-calendar--doubleView .react-calendar__viewContainer {
  display: flex;
  margin: -0.5em;
}

.react-calendar--doubleView .react-calendar__viewContainer > * {
  width: 50%;
  margin: 0.5em;
}

.react-calendar,
.react-calendar *,
.react-calendar *:before,
.react-calendar *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.react-calendar button {
  margin: 0;
  border: 0;
  outline: none;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
}

.react-calendar__navigation {
  display: flex;
  height: 50px;
  margin-bottom: 1em;
}

.react-calendar__navigation button {
  min-width: 44px;
  background: none;
}

.react-calendar__navigation button:disabled {
  background-color: #f0f0f0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font: inherit;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: #d10000;
}

.react-calendar__month-view__weekdays__weekday

.react-calendar__month-view__days__day--neighboringMonth,
.react-calendar__decade-view__years__year--neighboringDecade,
.react-calendar__century-view__decades__decade--neighboringCentury {
  color: #757575;
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 2em 0.5em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 20px 6.6667px;
  background: none;
  text-align: center;
  line-height: 16px;
  font: inherit;
  font-size: 13px;
}

.react-calendar__tile:disabled {
  background-color: #f0f0f0;
  color: #ababab;
}

.react-calendar__month-view__days__day--neighboringMonth:disabled,
.react-calendar__decade-view__years__year--neighboringDecade:disabled,
.react-calendar__century-view__decades__decade--neighboringCentury:disabled {
  color: #cdcdcd;
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
  background-color: #e6e6e6;
}

.react-calendar__tile--now,
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: #707070;
}

/* .react-calendar__tile--hasActive {
  background: #76baff;
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
  background: #a9d4ff;
} */

.react-calendar__tile--active {
  background: #b8bfc7;
  color: white;
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: #b8bfc7;
}

.react-calendar--selectRange .react-calendar__tile--hover {
  background-color: #e6e6e6;
}

.top {
  width: 768px;
  height: 5vh;
  align-items: center;
}

.logo {
  width: 568px;
  height: 5vh;
  background-color: #d10000;
  float: left;
}

.menu {
  width: 100px;
  height: 5vh;
  float: right;
}

.alarm {
  width: 100px;
  height: 5vh;
  float: right;
  align-items: center;
}

.mid {
  width: 768px;
  height: 87vh;
  overflow-y: auto;
}

.under {
  width: 768px;
  height: 8vh;
}

.foot {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  z-index: 3;
}

.foot > div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin: 0 10px;
}

.foot > div > span {
  margin-top: 5px;
  font-size: 10px;
  color: #333;
}

.addButton {
  position: fixed;
  left: 590px;
  bottom: 70px;
  width: 100px;
  height: 100px;
  background-color: #f5f5f5;
  color: #333;
  border: none;
  border-radius: 50%;
  font-size: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  z-index: 20;
}

/* 모달 */
.modal {
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 500px;
  height: 500px;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 100;
}

button {
  margin: 5px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

input, textarea {
  padding: 8px;
  margin-bottom: 10px;
  width: calc(100% - 16px);
  font-size: 16px;
  box-sizing: border-box;
}

.eventSec {
  width: 100%;
  max-width: 600px;
  margin-left: 70px;
  margin-top: 0;
  border-radius: 8px;
  padding: 10px;
  max-height: 250px; 
  overflow-y: auto;
  z-index: 1;
}

/* 일정 목록 섹션 */
.eventList {
  width: 90%;
  max-width: 600px;
  margin-top: 0;
  border-radius: 8px;
  padding: 20px;
}

/* 날짜 제목 스타일링 */
.mid h2 {
  font-size: 20px;
  color: #333;
  margin-top: 15px;
  margin-left: 100px;
}

/* 개별 이벤트 박스 */
.eventBox {
  width: 520px;
  height: 70px;
  background-color: #f5f5f5;
  border-radius: 40px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  align-items: center;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  position: relative;
}

.eventOption {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #ddd;
  border-radius: 5px;
  z-index: 10;
}

.eventMenu {
  display: none;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 100;
}

.eventOption button {
  align-items: center;
  padding: 8px 12px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 10;
}

.eventOption button svg {
  margin-right: 4px;
}

.eventInfo {
  margin-bottom: 8px;
  flex: 1;
}

.eventTitle {
  font-size: 16px;
  font-weight: bold;
  color: #333;
  display: block;
  margin-top: 5px;
  margin-bottom: 4px;
  margin-left: 30px;
}

.eventMemo {
  font-size: 14px;
  color: #AAA;
  display: block;
  margin-left: 30px;
}

.eventTime {
  font-size: 14px;
  color: #333;
  text-align: right;
  margin-right: 70px;
}